@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Mulish:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600&family=Work+Sans:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFF;;
    padding: 2rem 8rem;
    font-family: 'Mulish', sans-serif;
}
/* header styles start  */
 nav {
    display: flex;
    padding: 5px 20px;
}
nav a {
    text-decoration: none;
    color: #424247;
}
nav a:hover {
    color:deeppink;
}
.site-logo {
    display: flex;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.site-logo img  {
    width: 50px;  
    height: 50px;
    margin-right: 10px; 
}
.site-logo span {
    color: #FF5400;
    padding-left: 1rem;
}
.menu {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 7rem;
}
/* .menu ul li {
    margin-left: 2rem;
} */
.menu li {
    padding: 0 20px;

}
.toggle {
    font-size: 2rem;
    display: none;
}
/* header style end  */

/* explore travel start  */
.explore {
    margin-top: 4rem;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width:  1050px;
    height: 500px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}
.explore-title {
    padding-top: 7rem;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.explore-desc {
    padding-top: 1.5rem;
    margin: 0 auto;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    width: 42.5rem;
    height: 3rem;
    align-items: center;
}
.explore-btn {
    margin-top: 4rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    align-items: center;
    gap: 20px;
    width: 768px;
    height: 65px;
}
.explore-btn button {
    width: 11rem;
    padding: 12px;
    height: 3rem;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 10px;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.50);
}
.find-now {
    background-color: #FF5400;
    border-style: none;
    border-radius: 8px;
    padding: 1rem;
}
.find-now a {
    padding-right: 10px;
    color: #FFF;
    font-size: 1rem;
}
#find-now {
    color: #FFF;
}
/* explore travel ends  */

/* popular container styles start  */
.popular-container {
    margin-top: 6rem;
    display: flex;
}
.popular-content {
    padding-right: 2rem;
}
.popular-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.popular-desc {
    margin-top: 1.5rem;
    width: 577px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
}
.popular-list {
    margin-top: 1rem;
    color: rgba(19, 19, 24, 0.70);
}
.popular-list li {
    padding: .5rem;
    width: 520px;
    font-size: 1rem;
    font-weight: 400;
    list-style-position: inside;
}
.popular-desc2 {
    margin-top: 1.5rem;
    width: 530px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
}
.popular-btn {
    margin-top: 2rem;
    width: 11rem;
    height: 3rem;
    color: #FFF;
    border-radius: 8px;
    background: #FF5400;
    font-size: 1.25rem;
    font-weight: 400;
    border-style: none;
    text-align: center;
    cursor: pointer;
}
.popular-img img{
    width: 28rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 16px;  
}
/* popular container styles ends */

/* destination styles start  */
.destination-container {
    margin-top: 6rem;
}
.destination-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.5rem;
}
.destination-desc {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 636px;
    margin: 0 auto;
}
.destination-img {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
}
.destination-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.destination-img1 {
    grid-column: 1/span 4;
    position: relative;
}
.destination-img2 {
    grid-column: 5/span 4;
    position: relative;
}
.destination-img3 {
    grid-column: 1/span 2;
    position: relative;
}
.destination-img4 {
    grid-column: 3/span 4;
    position: relative;
}
.destination-img5 {
    grid-column: 7/span 2;
    position: relative;
}
.destination-img6 {
    grid-column: 1/span 3;
    position: relative;
}
.destination-img7 {
    grid-column: 4/span 5;
    position: relative;
}
.center {
    position: absolute;
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* destination styles ends */

/* choose section start  */
.choose {
    margin-top: 6rem;
    width: 100%;
    height: 100%;
}
.choose-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
}
.choose-desc {
    color: rgba(19, 19, 24, 0.70);
    width: 640px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}
.choose-service-container {
    display: flex;
    justify-content: space-between;
}
.service-container {
    margin-top: 3rem;
    width: 543px;
    height: 263px;
    padding-left: 2rem;
    padding-top: 1rem;
}
.service-container img {
    width: 4rem;
    height: 4rem;
}
.service-title {
    margin-top: 1rem;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.service-desc {
    margin-top: 1rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    width: 486px;
    margin-right: 3.5rem;
}
#service-container {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: 12px;
}
#service-container2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-left: 12px;
    margin-bottom: 2rem;
}
#service-container3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}
 /* choose section ends */
 
/* special places styles start  */
.special {
    margin-top: 5rem;
}
.container-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}
.special-container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.special-box img{
   border-radius: 10px;
}
.special-box {
    width: 400px;
}
.special-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.special-desc {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
/* special places styles ends */

/* newsletter styles start */
.newsletter {
    margin-top: 6rem;
    display: flex; 
    position: relative;
}
.newsletter-content {
    width: 474px;
    height: 422px;
    padding: 2.5rem;
    border: 1px solid #FF5400;
    border-radius: 16px;
}
.newsletter-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.newsletter-desc {
    padding-top: 1rem;
    color: #5A5A5D;
    width: 350px;
    height: 52px;
    font-size: 1rem;
    font-weight: 400;
}
hr {
    margin-top: 1.5rem;
    background: rgba(19, 19, 24, 0.10);
    width: 393px;
    height: 1px;
}
.newsletter-img img {
    width: 570px;
    height: 422px;
    margin-left: 1.5rem;
    position: absolute
}
.save-box {
    width: 324px;
    height: 120px;
    background-color: #FF5400;
    position: relative;
    top: 60.5%;
    left: 81.5%;
    transform: translate(50%, 50%);
    text-align: center;
    border-radius: 16px;
    transform: rotate(-20deg);
}
.save-box a{
    color: #FFF;
    text-decoration: none;
    margin-top: 2rem;
}
.save-title {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}
.text {
    margin-top: 1.5rem;
    width: 393px;
    height: 52px;
    padding: 16px 20px;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    border-style: none;
}
.email {
    margin-top: 1.5rem;
    width: 393px;
    height: 52px;
    padding: 16px 20px;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    border-style: none;
   
}
.newsletter-btn {
    margin-top: 1.5rem;
    width: 393px;
    height: 52px;
    color: #FFF;
    background: #FF5400;
    border-radius: 8px;
    border-style: none;
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
}
/* newsletter styles ends*/
/* footer styles start  */
footer {
    margin-top: 6rem;
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-title  {
    padding-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 800;
}
.lavender {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
    padding-left: 1rem;
}
.footer-title img {
    width: 50px;
    padding-right: 1rem;
}
.footer-desc {
    text-align: center;
    width: 760px;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
}
.social-icon {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 3rem;

}
.social-icon a {
    padding: 0.5rem;

}
.hr2{
    margin: 0 auto;
    width: 822px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
} 
.all {
    margin-top: 3rem;
    text-align: center;
}
/* footer styles ends */

/* responsive for mobile devices  */
@media screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }
    nav,
    .menu, 
    .popular-container,
    .choose-service-container,
    .special-container, 
    .newsletter {
        flex-direction: column;
    }
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }
    .site-logo {
        width: 28px;
        height: 33px;
        flex-direction: row;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .menu {
        margin-top: 15px;
        margin-left: 0;
        display: none;
    }
    .menu.active,.toggle {
        display: block;
    }
    .toggle {
        position: absolute;
        top: 15px;
        right: 20px;
    }
    .explore {
        width: 335px;
        height: 483px;
        object-fit: cover;
        margin: 0 auto;
    }
    .explore-title {
        font-size: 1.5rem;
        padding-top: 2rem;
    }
    .explore-btn {
        margin-top: 5rem;
        flex-direction: column;
        width: 271px;
        height: 288px;
        padding:16px;
    }
    .explore-desc {
        padding-top: 0.5rem;
        width: 304px;
    }
    .popular-container {
        margin-top: 1.25rem;
    }
    .popular-title {
        font-size: 1.25rem;
        font-weight: 800;
    }
    .popular-desc {
        width: 335px;
    }
    .popular-content {
        padding-left: 2.5rem;
    }
    .popular-list li {
        text-align: center;
        width: 335px;
    }
    .popular-desc2 {
        width: 335px;
    }
    .popular-btn {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .popular-img img {
        width: 335px;
        height: 342px;
        margin-left: 2rem;
    }
    .destination-container {
        margin-top: 1.5rem;
    }
    .destination-title {
        font-size: 1.25rem;
    }
    .destination-desc {
        width: 309px;
    }
    .destination-img {
        display: inline-block;
        margin-top: 1rem;
    }
    .destination-img img {
        width: 335px;
        height: 176px;
        margin-left: 2.5rem;
        padding-top: 1rem;
    }
    .choose-title {
        font-size: 1.25rem;
    }
    .choose-desc {
        width: 309px;
    }
    .service-container {
        width: 335px;
        height: 289px;
    }
    .service-title {
        font-size: 1.25rem;
    }
    .service-desc {
        width: 271px;
    }
    .service-container img {
        width: 3rem;
        height: 3rem;
    }
    #service-container {
        margin-left: 20px;
    }
    #service-container3 {
        padding-left: 0;
    }
    .container-title {
        margin-top: 2rem;
        font-size: 1.25rem;
        margin-bottom: 0;
    }
    .special-container {
        margin-top: 0;
    }
    .special-box img {
        margin-top: 0;
        width: 335px;
        margin-top: 2rem;
    }
    .special-desc {
        width: 304px;
        margin: 0 auto;
    }
    .newsletter {
        margin-top: 1.5rem;
    }
    .newsletter-content {
        width: 355px;
        height: 390px;
        margin: 0 auto;
    }
    .newsletter-desc {
        width: 270px;
    }
    hr {
        width: 285px;
        margin-bottom: 1rem;
    }
    .text {
        margin-top: 1rem;
        width: 288px;
        height: 52px;
    }
    .email {
        margin-top: 1rem;
        width: 288px;
        height: 52px;
    }
    .newsletter-btn {
        margin-top: 1rem;
        width: 288px;
        height: 52px;
    }
    .newsletter-img img {
        margin-top: 1rem;
        width: 335px;
        height: 300px;
        margin-left: 2.5rem;
        position: relative;
    }
    .save-box {
        width: 212px;
        height: 82px;
        position: absolute;
        top: 83.5%;
        left: 38%;
        /* transform: rotate(-20deg); */
    }
    .save-title {
        font-size: 1.25rem;
    }
    .footer-title {
        flex-direction: row;
        padding-right: 5px;
        font-size: 1.25rem;
        text-align: center;
    }
    .lavender {
        font-size: 1.25rem;
    }
    .footer-desc {
        width: 287px;
    }
    .hr2 {
        width: 335px;
    }
}