@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Mulish:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600&family=Work+Sans:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFF;;
    padding: 2rem 8rem;
    font-family: 'Mulish', sans-serif;
}
/* header styles start  */
 nav {
    display: flex;
    padding: 5px 20px;
}
nav a {
    text-decoration: none;
    color: #424247;
}
nav a:hover {
    color:deeppink;
}
.site-logo {
    flex: 1;
    color: #131318;
}
.site-logo a {
    display: flex;
    align-items: center;
}
.site-logo img  {
    width: 40px;  
    margin-right: 10px; 
}
.menu {
    display: flex;
    list-style: none;
    align-items: center;
}
.menu li {
    padding: 15px 20px;
}
.toggle {
    font-size: 2rem;
    display: none;
}
/* header style end  */

/* explore travel start  */
.explore {
    margin-top: 4rem;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width:  1050px;
    height: 500px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}
.explore-title {
    padding-top: 7rem;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.explore-desc {
    padding-top: 1.5rem;
    margin: 0 auto;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    width: 42.5rem;
    height: 3rem;
    align-items: center;
}
.explore-btn {
    margin-top: 3rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    width: 768px;
    height: 52px;
}
.explore-btn button {
    width: 11rem;
    height: 3rem;
    cursor: pointer;
}
/* explore travel ends  */

/* popular container styles start  */
.popular-container {
    margin-top: 6rem;
    display: flex;
}
.popular-content {
    padding-right: 2rem;
}
.popular-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.popular-desc {
    margin-top: 1.5rem;
    width: 577px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
}
.popular-list {
    margin-top: 1rem;
    color: rgba(19, 19, 24, 0.70);
}
.popular-list li {
    padding: .5rem;
    width: 520px;
    font-size: 1rem;
    font-weight: 400;
    list-style-position: inside;
}
.popular-desc2 {
    margin-top: 1.5rem;
    width: 530px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
}
.popular-btn {
    margin-top: 2rem;
    width: 11rem;
    height: 3rem;
    color: #FFF;
    border-radius: 8px;
    background: #FF5400;
    font-size: 1.25rem;
    font-weight: 400;
    border-style: none;
    text-align: center;
    cursor: pointer;
}
.popular-img img{
    width: 28rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 16px;  
}
/* popular container styles ends */

/* destination styles start  */
.destination-container {
    margin-top: 6rem;
}
.destination-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.5rem;
}
.destination-desc {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 636px;
    margin: 0 auto;
}
.destination-img {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* destination styles ends */

/* service section start  */
.service-container {
    display: flex;
}
.service-info {

}
.service-info3 {
    margin: 0 auto;
}
/* service section ends */

/* newsletter styles start */
/* newsletter styles ends*/
.newsletter {
    margin-top: 6rem;
    display: flex; 
}
.newsletter-content {
    width: 474px;
    height: 422px;
    padding: 2.5rem;
    border: 1px solid #FF5400;
    border-radius: 16px;
}
.newsletter-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.newsletter-desc {
    padding-top: 1rem;
    color: #5A5A5D;
    width: 350px;
    height: 52px;
    font-size: 1rem;
    font-weight: 400;
}
hr {
    margin-top: 1.5rem;
    background: rgba(19, 19, 24, 0.10);
    width: 393px;
    height: 1px;
}
.newsletter-img img {
    width: 570px;
    height: 422px;
    margin-left: 1.5rem;
}
.text {
    margin-top: 1.5rem;
    width: 393px;
    height: 52px;
    padding: 16px 20px;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    border-style: none;
}
.email {
    margin-top: 1.5rem;
    width: 393px;
    height: 52px;
    padding: 16px 20px;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    border-style: none;
   
}
.newsletter-btn {
    margin-top: 1.5rem;
    width: 393px;
    height: 52px;
    color: #FFF;
    background: #FF5400;
    border-radius: 8px;
    border-style: none;
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
}
/* footer styles start  */
footer {
    margin-top: 6rem;
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    border: 3px solid darkgoldenrod;
}
.footer-title  {
    padding-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 800;
}
.lavender {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
    padding-left: 1rem;
}
.footer-title img {
    width: 50px;
    padding-right: 1rem;
}
.footer-desc {
    text-align: center;
    width: 760px;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
}
.social-icon {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 3rem;

}
.social-icon a {
    padding: 0.5rem;

}
.hr2{
    margin: 0 auto;
    width: 822px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
} 
.all {
    margin-top: 3rem;
    text-align: center;
}
/* footer styles ends */
